$text-color-white:#CCCCB1;
$text-color-white-dark:rgb(179, 178, 147);
$highlight-color:#007ADC;
$dark-color-1:#1E1E21;
$dark-color-2:#252531;
$dark-color-3:#333;
$dark-color-4:#373741;
$dark-color-5:#474751;
$color-green:#35A446;
